body {
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    background-color: #E5E5E5;
}
.cabecalho {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    padding: 0px 100px;
}
.logo-pesquisa {
    position: relative;
    display: flex;
    align-items: center;
    gap: 30px;
}
.input-pesquisa {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    border-radius: 34px;
    border: none;
    background-color: #F5F5F5;
}
.botao-login {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 10px 50px;
    background: transparent;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
}
.icon-lupa-web {
    position: absolute;
    right: 15px;
    top: calc((100% - 16px) / 2);

}
.icon-lupa-mobile {
    display: none;
}

/* TABLET */
@media screen and (max-width: 900px){
    .cabecalho {
        padding: 0px 20px;
    }
}

/* MOBILE */

@media screen and (max-width: 720px){
    .input-pesquisa-web {
        display: none;
    }
    .icon-lupa-mobile{
        display: block;
    }
}
.imagem-banner-web{
    width: 100vw;
}
.banner {
    position: relative;
}
.conteudo-banner{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    bottom: 35px;
    left: 60px;
}
.titulo-banner{
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #ffffff;
}
.banner p {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #ffffff;
}
.botao-ver-consoles {
    width: 130px;
    height: 50px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background-color: #2A7AE4;
    color: #ffffff;
    border: none;
}
.galeria{
    display: grid;
    margin: 50px calc((100% - 1156px) / 2);
    gap: 20px;
    grid-template-columns: repeat(6, 1fr) ;
}
.titulo-galeria{
    grid-column: span 5;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}
.ver-tudo{
    justify-self: end;
    align-self: center;
}
.botao-ver-tudo{
    background: transparent;
    border: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
}
.nome-produto{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
    margin: 5px 0;
}
.preco-produto{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin-bottom: 5px;
}
.botao-ver-produto{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #2A7AE4;
    background: transparent;
    padding-left: 0;
    border: none;
}
.rodape{
    background: #EAF2FD;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    padding: 50px 50px;
}
.navegacao{
    display: flex;
    flex-direction: column;
}
.navegacao a{
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5rem;
    text-decoration: none;
    color: rgba(70, 70, 70, 1);
}
.fale-conosco{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.titulo-fale-conosco{
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0px;
}
.input-rodape-nome, .input-rodape-mensagem {
    width: 100%;
    border: none;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
    outline: none;
    box-shadow: 1px 1px #C8C8C8;
}
.caixa-input-nome{
    position: relative;
}
.input-rodape-nome {
    padding: 25px 10px 10px 10px;
}
.label-input-nome{
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: 14px;
    color: rgb(145, 145, 145);
}
.input-rodape-mensagem{
    padding: 10px;
}
.enviar-formulario-fale-conosco{
    width: 30%;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background: rgba(42, 122, 228, 1);
    border: none;
}

.pagina-login{
    padding: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(245, 245, 245, 1);
}
.titulo-login{
    font-size: 18px;
    font-weight: 700;
    color: rgba(70, 70, 70, 1);
    margin: 5px;
}
.input-login{
    width: 30%;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    border: none;
    background: #ffffff;
    outline: none;
    box-shadow: 1px 1px #C8C8C8;
}
.botao-iniciar-sessao{
    width: calc(30% + 20px);
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    border: none;
    background: rgba(42, 122, 228, 1);
    color: #ffffff;
}
.conteudo-produto-principal {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 50px calc((100% - 1156px) / 2);
}
.descricao-produto-principal{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: rgba(70, 70, 70, 1);
}
.titulo-produto-principal{
    font-size: 52px;
    font-weight: 500;
    color: rgba(70, 70, 70, 1);
}
.codigo-produto{
    font-size: 14px;
    font-weight: 500;
    color: rgba(70, 70, 70, 1);
}
