<div class="footer">
  <img src="assets/Logo.png" class="logo">
  <nav class="navigation">
      <a href="#">Quem somos nós</a>
      <a href="#">Politica de privacidade</a>
      <a href="#">Programa fidelidade</a>
      <a href="#">Nossas lojas</a>
      <a href="#">Quero ser franqueado</a>
      <a href="#">Anuncie aqui</a>
  </nav>
  <form class="contact">
      <h1 class="title-contact">Fale conosco</h1>
      <div class="box-input-name">
          <input type="text" class="input-name">
          <p class="label-input-name">Nome</p>
      </div>
      <textarea cols="70" rows="4" id="message" class="input-message" required placeholder="Escreva sua mensagem"></textarea>
      <button class="send-form">Enviar</button>
  </form>
</div>
