<div class="product">
  <div class="content-product">
    <img src="assets/foto-produto-principal.png" class="foto-produto-principal">
    <div class="info-product">
      <h1 class="title">Produto XYZ</h1>
      <p class="price">R$ 60,00</p>
      <p class="description">Voluptas voluptatum quibusdam similique, class debitis alias maecenas eveniet ridiculus, facilis fusce! Ullam conubia? Sociis, minima malesuada habitasse distinctio sequi aliqua malesuada. Quisque deleniti proin expedita, aliquid litora. Iste recusandae? Commodo, quia ridiculus doloribus vero dictum? Penatibus donec placeat faucibus, dolorum do. Animi porta anim magnam</p>
    </div>
  </div>

  <div class="gallery">
    <h1 class="title-gallery">Produtos Similares</h1>
    <div class="see-all">
        <button class="button-see-all">Ver tudo</button>
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.11959e-07 9L12.17 9L6.58 14.59L8 16L16 8L8 -6.99382e-07L6.59 1.41L12.17 7L7.86805e-07 7L6.11959e-07 9Z" fill="#2A7AE4"/></svg>
    </div>

    <!-- <app-card *ngFor="let card of galleryStarWars"
    [name]="card.name" [price]="card.price" [imageCard]="card.image"
    ></app-card> -->
  </div>
</div>
