.header {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 115px;
  padding: 0px 100px;
}
@media screen and (max-width: 900px){
  .header {
    justify-content: center;
    gap: 30px;
    padding: 0px;
  }
}
.logo-search {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
}
.input-search, .input-search-mobile {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 34px;
  border: none;
  background-color: #F5F5F5;
}
.button-login {
  font-size: 18px;
  padding: 10px 50px;
  background: transparent;
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
}
.icon-lupa-web {
  position: absolute;
  right: 15px;
  top: calc((100% - 16px) / 2);
}
.search-mobile{
  position: relative;
}
.input-search-mobile{
  position: absolute;
  right: -15px;
  top: -19.5px;
  padding-right: 35px;
  transition: 5s;
}
.icon-lupa-mobile{
  position: absolute;
  top: -10px;
  right: -5px;
  z-index: 1;
}
